<div id="patient-count-box">
	<!-- TODO : move this to a component of its own. -->
	<div id="patient-spinner" class="spinner spinner-large spinner-large-center" style="position: relative; display: none;"></div>
	<span id="patient-count" class="blue center large">0</span><br>
	<span class="center medium">patients enrolled</span><br>
	<span class="center small">as of April 1st, 2018</span><br>
</div>
<div id="extended-info">
</div>