<div class="row" style="margin-bottom: 5px">
    <a href="/picsureui/"><img class="logo-img col-md-4" src="{{logoPath}}"></a>
	<a class="col-md-2 btn btn-default header-btn active">Query Builder</a>
    <a class="col-md-2 btn btn-default header-btn" id="admin-btn" href="/psamaui/userManagement"
       style="display:none">Admin
    </a>

    <a id="logout-btn" class="col-md-2 btn btn-default header-btn" style="float:right">Log Out</a>
    <div class="col-md-1 dropdown header-btn" style="float:right" id="help-dropdown">
        <button class="col-md-12 btn btn-secondary dropdown-toggle help-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> &nbsp Help &nbsp</button>
        <ul class="dropdown-menu" style="min-width: 100px;" role="menu">
            <li class="dropdown"><a id="user_guide_dropdown" href="{{pdfLink}}">User Guide</a></li>
            <li class="dropdown"><a id="contact_us_dropdown" href="{{helpLink}}">Contact Us</a></li>
        </ul>
    </div>
</div>