<div class="row header-row">
	<img class="logo-img col-md-4" src="{{logoPath}}">
	<a class="col-md-2 btn btn-default header-btn active">Query Builder</a>
	<a class="col-md-2 btn btn-default header-btn">Saved Queries</a>
	<span class="col-md-2"></span>
	<span class="col-md-1 header-btn">
		<a href="{{helpLink}}" class="btn btn-default help-btn">Help</a>
	</span>
	<a id="logout-btn" class="col-md-1 btn btn-default header-btn">Log Out</a>
</div>