<div id="patient-count-box">
	<span class="center large" id="spinner-total"></span>
	<span id="patient-count" class="blue center large"></span><br>
	<span class="center medium">Total Patients</span><br>
	<div class="container" id="pic-sure-instances">
	{{#each this}}
		<div class="row">
			<span class="col-md-1"></span>
			<span class="col-md-5 right">{{name}}</span>
			<span class="col-md-5 left" id="patient-count-{{id}}"></span>
			<span class="col-md-1" id="spinner-{{id}}"></span>
		</div>
	{{/each}}
	</div>
</div>
<div id="extended-info">
</div>