<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
   <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>
          org.apache.catalina.servlets.DefaultServlet
        </servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
		<servlet-name>NHANES</servlet-name>
		<servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
		<init-param>
			<param-name>targetUri</param-name>
			<param-value>https://nhanes.hms.harvard.edu/rest/v1</param-value>
		</init-param>
		<init-param>
			<param-name>log</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>NHANES</servlet-name>
		<url-pattern>/NHANES/*</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>BCH</servlet-name>
		<servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
		<init-param>
			<param-name>targetUri</param-name>
			<param-value>https://grin-docker-dev.aws.dbmi.hms.harvard.edu/rest/v1</param-value>
		</init-param>
		<init-param>
			<param-name>log</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BCH</servlet-name>
		<url-pattern>/BCH/*</url-pattern>
	</servlet-mapping>
</web-app>
